html {
  font-size: 14px;
}
table {
  width: 80%;
  margin: 0 auto;
}
tr {
  display: flex;
  width: 100%;
  display: flex;
}
td {
  width: 25%;
}
thead td {
  background: chocolate;
  color: white;
  text-align: center;
}

tbody td {
  border: 1px solid black;
}