html {
  font-size: 14px;
}
table {
  margin: 0 auto;
  width: 100%;
}
tr {
  display: flex;
  width: 100%;
  display: flex;
}
td {
  min-width: 16.67%;
  display: flex;
  justify-content: center;
  align-items: center;
}
thead tr {
  background: #ffc107;
  border-radius: 10px;
  margin: 5px 0;
}
thead td {
  border: 1px solid white;
  color: black;
  text-align: center;
}

tbody tr {
  border-bottom: 1px solid lightgray;
  padding: 5px;
  min-height: 75px;
}
.container {
  width: 80%;
}
.separator {
  display: flex;
  justify-content: center;
  padding: 30px;
}
.btn-success {
  width: 100%;
}
.btn {
  margin: 1px;
}