.noteForm {
  background: seagreen;
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  margin: 0 auto 0 auto;
  width: 300px;
  z-index: 100;
  padding: 10px;
  box-sizing: border-box;
}

.noteForm form {
  display: flex;
  flex-direction: column;
  text-align: start;
}
.noteForm h2 {
  text-align: center;
}
.noteForm > * {
  margin: 10px 0;
}
